// COLORS VARIABLES
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-dark-gray: hsl(0, 0%, 63%);
$color-very-dark-gray: hsl(0, 0%, 27%);

// FONTS VARIABLES
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

$font-Spartan: "Spartan", sans-serif;
$font-light: 400;
$font-regular: 500;
$font-semi-bold: 600;
$font-bold: 700;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px

// ANIMATIONS
@keyframes moveFromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

// .moveFromLeft {
//   animation: moveFromLeft 1s forwards;
//   -webkit-animation: filter-animation 8s forwards;
// }

// *********************************** //

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
  font-family: $font-Spartan;
  font-weight: $font-regular;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  color: $color-black;
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 55% 10% 35%;
  grid-auto-rows: 30rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 55% 10% min-content 35rem min-content 35rem;
  }
}

// Headings and text
.heading {
  &--1 {
    font-size: 4rem;
    font-weight: $font-semi-bold;
    margin-bottom: 3.5rem;
    line-height: 1.2;
    // transition: all 1s;
    // animation: moveFromleft 1.5s ease forwards;
  }

  &--2 {
    font-size: 1.4rem;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

.main-text {
  font-size: 1.5rem;
  font-weight: $font-light;
  color: $color-dark-gray;
}

// 1st grid item
.img-hero {
  grid-column: 1 / 8;
  grid-row: 1 / 3;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / 13;
    grid-row: 1 / 3;
  }

  background-image: url(images/desktop-image-hero-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s;
}

.burger {
  display: none;

  @media only screen and (max-width: $bp-medium) {
    display: block;
  }
}

.close {
  display: none;
}

.navbar {
  padding: 7rem 10rem;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 7rem 5rem;
    justify-content: space-between;
  }

  &__logo {
    width: 9rem;
    margin-right: 7rem;

    @media only screen and (max-width: $bp-medium) {
      width: 12rem;
      margin: 0 auto;
    }
  }

  &__links {
    list-style: none;

    display: flex;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__link-el a:link,
  &__link-el a:visited {
    font-size: 1.5rem;
    color: $color-white;
    font-weight: $font-semi-bold;
    text-transform: lowercase;
    text-decoration: none;
    transition: padding-bottom 1s;

    @media only screen and (max-width: $bp-medium) {
      color: $color-black;
    }
  }

  &__link-el a:not(last-child) {
    margin-right: 4rem;

    @media only screen and (max-width: $bp-medium) {
      margin-right: 2rem;
    }
  }

  &__link-el a:hover,
  &__link-el a:active {
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $color-white;
  }
}

.nav-active {
  background-color: $color-white;
  z-index: 1 !important;
  transition: all 0.5s;
  position: fixed;
  width: 100%;
}

.links-active {
  display: flex;
  z-index: 1 !important;
  transition: all 1s ease-in;
}

.opacity-0 {
  opacity: 0;
}

.display-block {
  display: block;
  transition: all 1s;
}

.display-none {
  display: none;
  transition: all 1s;
}

.gradient-background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), 30%, transparent);
}

// .overlay {
//   background-color: $color-dark-gray;
//   opacity: 0.4;
//   z-index: 2 !important;
// }

// 2nd grid item
.img-dark {
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
  }

  background-image: url(images/image-about-dark.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// 3rd grid item
.img-light {
  grid-column: 10 / 13;
  grid-row: 3 / 4;

  position: relative;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / 13;
    grid-row: 6 / 7;
  }

  background-image: url(images/image-about-light.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// 4th grid item
.btn-pack {
  grid-column: 8 / 10;
  grid-row: 2 / 3;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 10 / 13;
    grid-row: 2 / 3;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column: 8 / 13;
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__left {
    outline: none;
    border: none;
    color: inherit;
    background-color: $color-black;

    transition: background-color 1s;
  }

  &__right {
    outline: none;
    border: none;
    color: inherit;
    background-color: $color-black;

    transition: background-color 1s;
  }

  &__left:hover,
  &__right:hover {
    background-color: $color-very-dark-gray;
    cursor: pointer;
  }
}

// 5th grid item
.section-hero {
  grid-column: 8 / 13;
  grid-row: 1 / 2;

  place-self: center;
  width: 70%;
  // display: block;
  // transition: all 2s;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 10rem 0;
  }

  &__ca {
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 6rem;
    }

    cursor: pointer;

    display: flex;
    align-items: center;
    transition: color 1s;

    &--text {
      font-family: $font-Spartan;
      font-size: 1.2rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.8rem;
      }

      @media only screen and (max-width: $bp-small) {
        font-size: 1.2rem;
        letter-spacing: 1rem;
        margin-right: 2rem;
      }

      text-transform: uppercase;
      letter-spacing: 1.2rem;
      margin-right: 3.5rem;
    }

    &--arrow {
      transition: all 0.5s;
    }
  }

  &__ca:hover,
  &__ca:active {
    color: $color-dark-gray;
    fill: $color-dark-gray;
  }

  &__ca:hover .section-hero__ca--arrow {
    transform: translateX(20px);
    fill: $color-dark-gray;
  }
}

// 6th grid item
.section-about {
  grid-column: 4 / 10;
  grid-row: 3 / 4;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
  }

  place-self: center;
  width: 80%;

  @media only screen and (max-width: $bp-medium) {
    width: 70%;
    padding: 10rem 0;
  }
}

// Credits
.credits {
  & p {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: $color-white;
    font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
    font-size: 10px;
    font-weight: 300;
    padding: 1rem;
    text-align: right;
    line-height: 1.5;
    letter-spacing: 0.8px;

    & a:link,
    a:active,
    a:visited,
    a:hover {
      color: $color-white;
      text-decoration: none;
      padding-bottom: 0.2rem;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    }
  }
}